<a href="https://colab.research.google.com/github/camylla-ops/FUNDAMENTOS-DE-PYTHON/blob/main/meucaderno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **FUNDAMENTOS DE PYTHON**

Escola SoulCode Academy

Curso Bootcamp Analista de Dados - Martech - AD2

Período: Semana 4

Professor: Franciane Rodrigues

Aluno: Camylla Oliveira

## **Comentários e tipos básicos de dados**

In [ ]:
print("Hello, World!") # usando aspas dulpla
print('Hello, World!') # usando aspas simples

Hello, World!
Hello, World!

In [ ]:
'''
isso é um
comentário
grande
'''

'\nisso é um\ncomentário\ngrande\n'

In [ ]:
"""
isso é
um
comentáario
grande
"""

'\nisso é \num \ncomentáario\ngrande\n'

In [ ]:
# Tipos de Dados

![Foto 1.png]()

In [ ]:
# Estamos escrevendo nossos dados pessoais
print(27)               #int
print(1.71)             #float
print("Camylla")        #str com aspas dupla
print('Oliveira')       #str com aspas simples
print(False)            #bool

27
1.71
Camylla
Oliveira
False

**RESUMO**

*   Os **comentários** são como notas que você deixa para que você ou outra pessoa possa ler e ajuda documentar o seu código
*   **Comando print:** é uma função de saída utilizada em várias linguagens de
programação para exibir mensagens ou valores na tela do computador.
*   **\n**: usado para criar quebras de linha em um texto
*   Tipos de dados no Python mais usados são int, float, str, bool
*   int e float: dados quantitativos
*   str: dados categóricos

##**Variáveis**

In [ ]:
# Estamos escrevendo nossos dados pessoais
print(27)               #int
print(1.71)             #float
print("Camylla")        #str com aspas dupla
print('Oliveira')       #str com aspas simples
#Deprint(False)            #bool

27
1.71
Camylla
Oliveira
False

In [ ]:
#Declarando váriaveis
idade = 27
altura = 1.75
nome = 'camylla'
sobrenome = 'Oliveira'
filhos = False

In [ ]:
#Imprimir na tela usando comando print
print (idade)
print (altura)
print (nome)
print (sobrenome)
print (filhos)

27
1.75
camylla
Oliveira
False

In [ ]:
# imprimir na tela usando apenas uma váriavel
idade

27

In [ ]:
# Impressão geral na tela de todas as váriaveis declaradas
print("idade, altura, nome, sobrenome, filhos")

idade, altura, nome, sobrenome, filhos

In [ ]:
# Comando type serve para checarmos o tipo de dado que a váriavel esta declarada
type(idade)

int

In [ ]:
# Checando as variáveis usando os comendos print e type juntos
print(type(idade))
print(type(altura))
print(type(nome))
print(type(sobrenome))
print(type(filhos))

NameError: ignored

In [ ]:
# Atenção: o python é sensível a letras maiúsculas e minúsculas
# nome = 'Dener'
# print(Nome)

In [ ]:
# Checando a variável numero_favorito
print(type(numero_favorito))

In [ ]:
# Armazenando strings e número
nome_completo = 'camylla oliveira'
numero_favorito = '8'

In [ ]:
# Checando a variável numero_favorito
print(type(numero_favorito))

In [ ]:
# Se o número estiver entre aspas ele se transforma numa string
print(nome_completo, numero_favorito)

In [ ]:
# Renomeação da variável
nome = 'mila'

Resumo

Variáveis permitem salvar valores na memória usando um nome que atribuímos

Declaramos um nome no lado esquerdo do operador igual (“=”), e no lado direito, atribuir o valor que queremos salvar para usar mais tarde.

Como ler: Declaramos a variável "a" ao valor do "2" do tipo int

a = 2

Como ler: Declaramos a variável "b" ao valor do "10.953" do tipo float

b = 10.953

Como ler: A variável "a" recebe valor 2 do tipo int

a = 2

Como ler: A variável "b" recebe valor 10.953 do tipo float

b = 10.953

É possível usar os dois comandos print e type juntos

Atenção: Número pode ser string

Regras para nomes de variáveis*

Deve começar com uma letra (maíuscula ou minúscula) ou subcrito(_).

Nunca pode começar com um número.

Pode conter letras maiúsculas, minúsculas, números e subscrito.

Não pode-se utilizar como parte do nome de uma variável: { ( + - * / \ ; . , ?

Letras maiúsculas e minúsculas são diferentes:

casa = 4

Casa = 4

## **Conversão de variáveis**

In [ ]:
# Conversão de int para float
num_int = 10
num_float = float(num_int)

In [ ]:
# Checando a conversão
print(type(num_int),type(num_float))
print(num_float)

<class 'int'> <class 'float'>
10.0

In [ ]:
# Conversão de int para string
num_int = 666
num_string = str(num_int)

In [ ]:
# Checando a conversão
print(type(num_int), type(num_string))
print(num_string)

In [ ]:
# Conversão de float para int
num_float = 10.5
num_int = int(num_float)

In [ ]:
# Conversão de float para str
num_float = 10.5
num_str = str(num_float)

In [ ]:
# Checando a conversão
print(type(num_float), type(num_str))
print(num_str)

<class 'float'> <class 'str'>
10.5

In [ ]:
#Conversão de str para int
num_str = '15'
num_int = int(num_str)

In [ ]:
# Checando a conversão
print(type(num_str), type(num_int))
print(num_int)

In [ ]:
#Conversão de str para float
num_str = '10.5'
num_float = float(num_str)

In [ ]:
# Checando a conversão
print(type(num_str), type(num_float))
print(num_float)

<class 'str'> <class 'float'>
10.5

In [ ]:
# FALHA NO SISTEMA
# Conversão de str para int
num_str = '10.5'
num_int = int(num_str)

ValueError: ignored

## **Operadores Matemáticos**

Os operadores matemáticos básicos, tais como: adição, subtração, multiplicação, divisão, exponenciação e radiciação podem ser feitos dentro do Python.

In [ ]:
# Adição
n1 = 5.887
n2 = 7.15
soma = n1 + n2
print(soma)
print('A soma é:', soma)
print(f"A soma dos números é {soma:.2f}")
print(n1 + n2)
n1+n2

13.036999999999999
A soma é: 13.036999999999999
A soma dos números é 13.04
13.036999999999999

13.036999999999999

In [ ]:
# Subtração
a1 = 154.587
a2 = 10.58
sub = a1 - a2

print(sub)
print('A subtração é:', round(sub,2))
print(f"A subtração dos números é: {sub:.2f}")
print(a1 - a2)
a1 - a2

144.00699999999998
A subtração é: 144.01
A subtração dos números é: 144.01
144.00699999999998

144.00699999999998

In [ ]:
# Multiplicação

b1 = 3.5
multi = b1 * 3

# Modos de apresenteção
print(multi)
print('A multiplicação é: ', round(multi,2))
print(f'A multiplicação dos números é {multi:.2f}')
print(b1*3)
b1*3

In [ ]:
# Divisão
x1 = 10
x2 = 5
div = x1/x2

# Modos de apresentação
print(div)
print('A divisão é: ', div)
print(f'A multiplicação dos números é {div:.2f}')
print(x1/x2)
x1/x2

## Aula 14 - Python Básico Prof. Douglas

In [ ]:
# soma (+) Exemplo: some 3 com 2
soma = 3 + 2

# subtração (-) Exemplo: Subtraia 2 de 3
sub = 3 - 2

# multiplicação (*) Exemplo: Multiplique 3 por 2
mult= 3 * 2

# divisão (/) Exemplo: Divida 3 por 2
# Sempre que for feita uma divisão o resultado sera float
div = 3 / 2

# parte inteira da divisão (//) Exemplo: encontre e guarde a parte inteira da divisão de 3 por 2
idiv = 3 // 2

# resto da divisão (%) Exemplo: encontre e guarde o resto da divisão de 3 por 2
rdiv = 3 % 2

# potenciação (**) Exemplo: Eleve 3 a 2
pot = 3 ** 2

print(soma)
print(sub)
print(mult)
print(div)
print(idiv)
print(rdiv)
print(pot)

In [ ]:
# melhorando a visualização dos prints f-string
print(f"O resultado da soma de 3 com 2 é: {soma} ")
print(f'O resultado da subtração de 3 com 2 é: {sub}')
print(f'O resultado da multiplicação de 3 por 2 é: {mult}')
print(f'O resultado da divisação de 3 por 2 é: {div}')
print(f'A parte inteira da divisão de 3 por 2 é: {idiv}')
print(f'O resto da divisão de 3 por 2 é: {rdiv}')
print(f'O resultado da potenciação 3 elevado a 2 é: {pot}')

## Operadores de comparação

In [ ]:
#Booleanos

# (==) verifica se dois valores são iguais (retorna True ou False)
# Exemplo compare se 3 é igual a 3.0
a = 3 # atribuição do valor 3 (tipo int) para a variável a
b = 3.0 # atribuição do valor 3.0 (tipo float) para a variável b
teste1 = a == b # Fazendo o teste de igualdade de a com b e guradando na variável teste 1
print(teste1) # imprimindo o valor da variável teste1
teste2 = 'douglas' == 'Douglas' # comparando duas strings com uma pequena diferença entre elas
print(teste2) # imprimindo o valor da variável teste2

# (!=) verifica se dois valores são diferentes (retorna True ou False)
# Exemplo: compare se 3 (variável a) é diferente a 3.0 (variável b)
teste3 = a != b
print(teste3)

# (>) verifica se um valor é maior que o outro (retorna True ou False)
# Exemplo: compare se 3 é maior que 2
teste4 = 3 > 2
print(teste4)

# (>=) verifica se um valor é maior ou igual ao outro(Retorna True ou False)
#Exemplo: compare se 3 é maior ou igual a 3
teste5 = 3 >= 3
print(teste5)

# (<) verifica se um número é menor que outro (retorna True ou false)
# Exemplo: compare se 2 é menor que 2
teste6 = 2 < 2
print(teste6)

# (<=) verifica se um valor é menor ou igual ao outro (retorna True ou False)
# Exemplo: compare se 2 é menor ou igual a 2
teste7 = 2 <= 2
print(teste7)

True
False

## **Operadores de atribuição**

In [ ]:
# Atribuição direta (=) atribui ao lado esquerdo do sinal um valor que está ao lado direito do sinal
nome = 'douglas'
peso_kg = 78
altura_m = 1.85

# Atribuição de soma (+=), equivale a x = x + y (equivale a uma variável x que já existe recebendo ela mesma + outro valor)
# Exemplo: crie uma variável t que receba o número inteiro 3, e depois some 1 para essa variável
t = 3
t += 1
print(f'O resultado de t + 1 é: {t}')

# Atribuição de subtração (-=) equivale a x = x - y (equivale a uma variável x que já existe recebendo ela mesma - outro valor)
# Exemplo: crie uma variável z que receba o número inteiro 5, e depois diminua 2 para essa variável
z = 5
z -= 2
print(f'O resultado de z - 2 é: {z}')

# atribuição de multiplicação (*=) equivale a x = x * y
# Exemplo: crie uma variável j que receba o número 5, e depois multplique por 2
j = 5
j *= 2
print(f'O resultado de j * 2 é: {j}')

# atribuição de divisão (/=) equivale a x = x / y
# exemplo: crie uma variável w que recebe o número 7, e depois divida por 2
w = 7
w /= 2
print(f'O resultado de w / 2 é: {w}')

# atribuição da parte inteira da divisão (//=) equivale a x = x // y
# Exemplo: crie uma variável k que recebe o número 7, e depois receba a parte inteira da divisão por 2
k = 7
k //= 2
print(f'O resultado de k // 2 é: {k}')

# atribuição do resto da divisão (%=) equivale a x = x % y
# exemplo: crie uma variável b que receba o número 7, e depois receba o resto da divisão dela por 2
b = 7
b %= 2
print(f'O resto  da divisão de b por 2 é: {b}')

# atribuição de potenciação (**=) equivale a x = x ** y
# Exemplo crie uma variável casamento que receba o valor 6 e depois receba o quadrado dela
casamento = 6
casamento **= 2
print(f'O professor douglas casará: {casamento} vezes nesta vida')

## Operadores Lógicos

In [ ]:
# (and) Retorna verdadeiro somente se todas as condições de uma comparação forem satisfeitas
# Exemplo:
teste8 = 3 >= 2 and 3 != 2 and 3 < 4
print(f'3 >= 2 and 3 != 2 and 3 < 4 é: {teste8}')
# (&) Retorna verdadeiro somente se todas as condições de uma comparação forem satisfeitas
# Exemplo:
teste9 = (3 <= 2) & (3 != 2) & (3 < 4) #bitwise
#           F           V         V
print(f'(3 <= 2) & (3 != 2) & (3 < 4) é: {teste9}')

# (or) Retorna verdadeiro se pelo menos um dos elementos for verdadeiro
# Exemplo:
teste10 = 3 >= 2 or 3 == 2 or 3 > 4
teste15 = (3 >= 2) | (3 == 2) | (3 > 4)
print(f'3 >= 2 or 3 == 2 or 3 > 43 >= 2 or 3 == 2 or 3 > 4 é: {teste10}')

# (not) Inverte verdadeiro com Falso
# Exemplo:
teste11 = not(teste10)
print(f'not(3 >= 2 or 3 == 2 or 3 > 4) é: {teste11}')
teste12 = not(teste9)
print(f'not((3 <= 2) & (3 != 2) & (3 < 4)) é: {teste12}')
teste13 = ((not(3 <= 2))) & (not(3 == 2)) & (3 < 4) # invertendo o resultado da primeira sentença e da segunda sentença
#               V                 V            V
print(f'((not(3 <= 2))) & (not(3 == 2)) & (3 < 4) é: {teste13}')
teste14 = not((3 >= 2) & (3 != 2) & (3 < 4)) # invertendo o resultado da comparação de todas as sentenças
#                 V         V           V
print(f'not((3 >= 2) & (3 != 2) & (3 < 4)) é: {teste14}')
print(teste15)

## **Operadores de identidade**

In [ ]:
# (is) compara se um objeto é igual ao outro em relação ao valor e o tipo
h = 3
p = 3
teste16 = p == h
print(f'p == h é: {teste16}')
teste17 = p is h
print(f'p is h é: {teste17}')
m = 3
n = 3.0
teste18 = m == n
print(f'm == n é: {teste18}')
teste19 = m is n
print(f'm is n é: {teste19}')
print(type(m))
print(type(n))

# (is not) compara se um objeto é diferente do outro em relação ao valor e o tipo
x = 3
y = 4
teste20 = x != y
print(f'x != y é: {teste20}')
teste21 = x is not y
print(f'x is not y é: {teste21}')
o = 3
s = 3.0
teste22 = o != s
print(f'o != s é: {teste22}')
teste23 = o is not s
print(f'o is not s é: {teste23}')
print(type(o))
print(type(s))

## Operadores de associação

In [ ]:
# (in) Retorna verdadeiro se um caracter ou sequencia de caracteres for encontrado dentro de uma string
# Exemplo:
nome = 'daniela'
teste24 = 'dani' in nome
print(f'daniela contém dani: {teste24}')
# (not in) Retorna verdadeiro se um caracter ou sequencia de caracteres NÃO for encontrado dentro de uma string
teste25 = 'Dani' not in nome
print(f'daniela não contém Dani: {teste25}')

## Coletando informações do usuário

In [ ]:
nome = input('Informe seu nome ')
print(f'O nome digitado é: {nome}')
peso = int(input('Informe seu peso em kg inteiros '))
print(f'{nome} tem : {peso}kg')
altura = float(input('Informe sua altura em metros '))
print(f'{nome} tem {peso} kg e {altura} metros de altura')
imc = peso / altura**2
print(f'{nome}, seu imc é: {imc:.1f}')

## **STRINGS**

In [ ]:
# 0    1   2   3   4   5  6  7  8  9 10 11 12 13 (índice)
# -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 (índice reverso)
# 1º 2º 3º 4º 5º 6º 7º 8º 9º 10º 11º 12º 13º 14º (ordinal)
# d  o  u  g  @  g  m  a  i   l   .   c   o   m
email = 'doug@gmail.com'
# encontrando um caracter pelo índice
# Exemplo: qual é o quinto caracter dessa string?
print(f'O quinto caracter dessa string é: {email[4]}')
# Exemplo: qual é o último caracter dessa string?
print(f'O último caracter dessa string é: {email[13]}')
# Exemplo: Quais são os caracteres que vem depois do 2º caracter (excluindo o 2º)
print(f'A sequência caracteres dessa string após o segundo é: {email[2:]}')
# Exemplo: Quais são todos os caracteres dessa string?
print(f'A sequência todos os caracteres dessa string é: {email[:]}')
# Exemplo: buscar e imprimir todos os caracteres até o caracter de índice 4 (todos os caracteres antes do @ até o @ incluindo o @)
print(f'A sequência caracteres dessa string até o índice 4 é: {email[:5]}')
# Exemplo como acessar o último caracter da lista sem contar o tamaho dela (sem usar a função len())?
print(f'O último caracter dessa string é: {email[-1]}')

## Métodos para Strings

In [ ]:
# Sinal de (+) para concatenar strings
nome = 'Douglas'
sobre = 'Ribeiro'
print(nome +" "+ sobre)
# Converter um número em string
cpf = 12345678910
cpf = str(cpf)
print(type(cpf))
# (in) Retorna verdadeiro se um caracter ou sequencia de caracteres for encontrado dentro de uma string
# Exemplo:
nomen = 'daniela'
testen = 'dani' in nomen
print(f'daniela contém dani: {testen}')
# (not in) Retorna verdadeiro se um caracter ou sequencia de caracteres NÃO for encontrado dentro de uma string
testen = 'Dani' not in nomen
print(f'daniela não contém Dani: {testen}')
# (len)Contar o número de caracteres de uma string
qtde = len(nome)
print(f'{nome} tem {qtde} caracteres')

# Métodos específicos para strings

In [ ]:
# Método para deixar a primeira letra de uma string maiúscula
nomem = 'douglas'
print(nomem)
nomem = nomem.capitalize()
print(nomem)
nomem = nomem.casefold()
print(nomem)

In [ ]:
# (count) Contar quantas vezes um caracter aparece em uma string
material = 'paralelepípedo'
qtde_p = material.count('p')
print(f'{material} tem {qtde_p} Ps')

In [ ]:
# (endswith) Verifica se uma string termina com um caracter ou sequencia de caracteres
email = 'doug@gmail.com'
teste_end = email.endswith('gmail.com')
print(teste_end)

In [ ]:
# (startswith) Verifica se uma string começa com um caracter ou sequencia de caracteres
email = 'doug@gmail.com'
teste_beg = email.startswith('d')
print(teste_beg)

In [ ]:
# (isnumeric) Verifica se uma string é formada por números
rg = 'd123456789'
teste_rg = rg.isnumeric()
print(teste_rg)

In [ ]:
# (isalpha) Verifica se uma string é formada por letras
rg2 = 'doug'
teste_rg2 = rg2.isalpha()
print(teste_rg2)

In [ ]:
# (isalnum) Verifica se uma string é formada por letras ou números
rg3 = 'D'
teste_rg3 = rg3.isalnum()
print(teste_rg3)

In [ ]:
# (split) Separa uma string por caracteres específicos, se não for específicado o caracter ela assume espaço como separador
dados = input('informe os valores separados por espaços ')
dados_sep = dados.split()
print(dados_sep)

In [ ]:
# (strip) elimina caracteres indesejados de uma string, por padrão remove espaços do início e do final da string
autor = ' Douglas '
print(len(autor))
autor = autor.strip()
print(len(autor))

In [ ]:
# (replace) substitui um caracter por outro
preco = 'R$ 10.50'
print(preco)
preco = preco.replace('.',',')
print(preco)

In [ ]:
# (title) Coloca a primeira letra de cada palavra em maiúscula
comp = 'douglas almeida ribeiro'
print(comp)
comp = comp.title()
print(comp)

In [ ]:
# (upper) Coloca todas as letras de um texto em maiúsculas
prof = 'douglas'
print(prof)
prof = prof.upper()
print(prof)

## **Estruturas de condição - IF, ELIF, ELSE**

Instrução "if":
* A instrução if é usada para executar um bloco de código e uma determinada condição é verdadeira. A sintaxe geral é a seguinte:

In [ ]:
'''
if condição
    # bloco de código a ser executado se acondição for verdadeira
'''

In [ ]:
idade = 19
if idade >= 10:
  print("Você é maior de idade.")

In [ ]:
idade = 18
if idade >= 18:
  print("Você é maior de idade.")

In [ ]:
idade = 17
if idade >= 18:
  print("Você é maior de idade")

Instrução "else":
* A instrução else é usada em conjunto com a instrução "if" e especifica um bloco de código a ser executado se a condição do If não for verdadeira. A sintaxe geral é a seguinte:

In [ ]:
'''
if condição:
  # bloco de código a ser executado se a condição for verdadeira
else:
    # bloco de código a ser executado se a condição não for verdadeira
'''

In [ ]:
idade = int(input("Digite a sua idade:"))
if idade >= 18:
  print('Você é maior de idade')
else:
    print("Você é menor de idade")

Digite a sua idade:255
Você é maior de idade

Instrução "elif":

* A instrução "elif" é uma abreviação de "else if" e permite testar múltiplas condições em sequência. Ela é usada quando há mais de duas possibilidades a serem consideradas. A sintaxe geral é a seguinte:

In [ ]:
'''
if condição1:
  # bloco de código a ser executado se a condição for verdadeira
elif condição2:
  #bloco de código a ser executado se a condição 2 for verdadeira
else:
  # bloco de código a ser executado se nenhuma das condições anteriores for verdadeira
  '''

In [ ]:
nota = float(input('Digite sua nota: '))

if nota >= 90:
    print("Sua nota é A")
elif nota >= 80:
    print("Sua nota é B")
elif nota >= 70:
    print("Sua nota é C")
else:
    print("Sua nota é D")

Exemplo:

* Escreva um programa que verifique se um
número digitado pelo usuário é positivo, negativo ou zero.
Passo a passo:

1. Solicite ao usuário que digite um número.
2. Armazene o número digitado em uma variável chamada "numero".
3. Verifique se o número digitado é igual a zero. Se sim, exiba a mensagem "O número digitado é zero."
4. Caso contrário, verifique se o número é maior que zero. Se sim, exiba a mensagem "O número digitado é positivo."
5. Se nenhuma das condições anteriores for atendida, significa que o número é negativo. Nesse caso, exiba a mensagem "O número digitado é negativo."
6. Encerre o programa.

In [ ]:
numero = float(input("Digite um número: "))

if numero == 0:
    print("O número digitado é zero.")
elif numero > 0:
    print("O número digitado é positivo.")
else:
    print("O número digitado é negativo.")

## Estruturas de dados em Python - parte 1 Listas

In [ ]:
# Lista é uma estrutura que pode armazenar diversos valores sobre um determinado atributo
lista_vazia = []
noivo = ['Zé','Mané','Ana','Fran','João','Franz']
print(f'Convidados do noivo - {noivo}')
idades = [41, 47, 46, 28, 17, 50]
print(f'Idades dos convidados do noivo {idades}')
massas = [86, 74, 52, 47, 90, 110]
print(f'Massas dos convidados do noivo {massas}')
alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97]
print(f'Alturas (em metros) dos convidados do noivo {alturas}')

In [ ]:
print(f'Idades dos convidados do noivo {idades}')

In [ ]:
# Acessando um elemento específico da lista a partir do seu índice
print(f'A convidada de honra é {noivo[3]}')
# Criar uma sublista com apenas os os três primeiros elementos da lita noivo
sublista = noivo[:3]
print(sublista)
p_u = [noivo[0], noivo[-1]]
print(f'O primeiro convidado é {p_u[0]} e o último convidado é {p_u[-1]}')
print(f'{noivo}')

A convidada de honra é Fran
['Zé', 'Mané', 'Ana']
O primeiro convidado é Zé e o último convidado é Franz
['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']

In [ ]:
# Método index(valor procurado, índice de ínicio da procura, e índice fim da procura) por definição se não for oferecido o índice de ínicio e fim será procurado na lista toda
id = noivo.index('Fran')

In [ ]:
# Qual é o imc da convidada Fran
print(f'O IMC da Fran é {(massas[id]/alturas[id]**2):.2f}')

O IMC da Fran é 17.26

 Desafio 1': Crie um programa que receba do usuário um nome e caso esse nome esteja na lista guarde seu índice em uma variável e a utilize para buscar massa e altura correspondente, bem como calcular seu imc e após tudo isso informar o usuário, caso o nome não esteja na lista retorne uma mensagem informando o usuário

In [ ]:
idades = [41, 47, 46, 28, 17, 50]
massas = [86, 74, 52, 47, 90, 110]
alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97]
noivo = ['Zé','Mané','Ana','Fran','João','Franz'] # Cria o banco de dados com os nomes dos convidados do noivo
nome = input('Informe o nome que deseja consultar: ') #recebendo o nome do usuário
nome = nome.capitalize() #Deixo o nome que o usuário digitou com a primeira letra em caixa alta e as demais em caixa baixa
if nome in noivo: # se o nome que o usuário digitou estiver no banco de dados faça algo
  id2 = noivo.index(nome) # recebendo o argumento nome e procurando o seu índice já sabendo que ele está na lista exatmente com a mesma grafia
  imc = massas[id2]/alturas[id2]**2 # calculando o imc já sabendo a posição que deve busta em cada lista (massas e alturas)
  print(f'{nome} tem {massas[id2]} kg, {alturas[id2]} metros e seu imc é: {imc:.1f}') # Mostrando o nome digitado e seus respectivos massa, altura e imc
else:
  print(f'Desculpe, {nome} não está na lista, por favor reinicie o programa para consultar outro nome')

In [ ]:
d = []

In [ ]:
d.append(22)

In [ ]:
print(d)

[22, 22, 22, 22, 22]

In [ ]:
# Adicionando elementos em uma lista qualquer com o método append() por padrão este método insero o valor desejado em uma lista existente na última posição
lista_vazia = [] # cria uma lista vazia com o nome lista vazia e apaga todos os elementos de qualquer objeto com o mesmo nome
print(lista_vazia) # imprime uma lista vazia que já existe
lista_vazia.append('Joana') # adiciona Joana na última posição de uma lista que já exista
lista_vazia.append('Douglas')
lista_vazia.append('Eduardo')
lista_vazia.append('Ester')
lista_vazia.append('Daniela')
lista_vazia.append('Pedro')
lista_vazia.append('Maria')
print(lista_vazia) # imprime o status atual da lista vazia
fam = lista_vazia
print(lista_vazia)
print(fam)

[]
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
fam.insert(3, 'Tobias')
print(fam)

In [ ]:
fam[3] = 'Raimundo' # Atribuição direta insere um novo elemento substituindo o anterior se houver
print(fam)

In [ ]:
# Excluindo elementos de uma lista
fam.pop() # método que exclui pelo índice, por padrão exclui o último elemento se não informarmos o índice
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluir Joana da lista fam pelo método pop
fam.pop(0)
print(fam)

['Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluir raimundo da lista fam pelo método remove
fam.remove('Raimundo')
print(fam)

['Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# criando uma lista com strings
nomes = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

# criando uma lista com números inteiros
pesos = [78, 25, 98, 63, 92, 67]

# criando uma lista com números fracionários
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]

In [ ]:
# forçando um erro usando o remove
nomes.remove('xerox')
print(nomes)

In [ ]:
# solução 1
teste = input('Informe o nome que deseja excluir da lista: ') # recebe um nome do usuário e o guarda na variável teste
teste = teste.capitalize() # Padroniza a variável teste com a primeira letra maiúscula
if teste in nomes: # verifica se o nome armazenado em teste está na lista de nomes
  nomes.remove(teste) # se somente se o nome armazenado em teste estiver na lista, faz a exclusão
  print(f'O nome {teste} foi exluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
else:
  print(f'O nome {teste} não está na lista, logo não pode ser excluído') # Caso o nome digitado não esteja na lista informa o usuário essa situação

Informe o nome que deseja excluir da lista: xerox
O nome Xerox não está na lista, logo não pode ser excluído

In [ ]:
# solução 2 (utlizando try/except)
teste2 = input('Informe o nome que deseja excluir da lista: ') # recebe um nome do usuário e o guarda na variável teste
teste2 = teste2.capitalize()# Padroniza a variável teste com a primeira letra maiúscula
try: # comando para tentar fazer alguma ação
  nomes.remove(teste2) # ação que será feita caso a tentativa seja bem sucedida (neste caso se o nome digitado estiver na lista)
  print(f'O nome {teste2} foi excluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
except: # comando para o caso da tentativa (try) ser mal sucedida (no caso se o nome não estiver na lista)
  print(f'O nome {teste2} não está na lista, logo não pode ser excluído') # Caso o nome digitado não esteja na lista informa o usuário essa situação

Exemplo extra: apareceu em uma dúvida na hora da aula

In [ ]:
try:
  ida = int(input('Informe sua idade em anos: '))
  if ida >= 18:
    print('maior de idade')
  elif ida < 0:
    print('você digitou uma idade negativa é isso mesmo? ')
except:
  print('você não informou um número, por favor reinicie o código e digite um número')

In [ ]:
# criando uma lista com strings
nomes = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

# criando uma lista com números inteiros
pesos = [78, 25, 98, 63, 92, 67]

# criando uma lista com números fracionários
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]

# Tamanho da lista len(lista)
print(len(nomes))

# Maior valor da lista
print(max(pesos))

# Menor valor da lista
print(min(alturas))

# Soma dos valores de uma lista
print(sum(alturas))

# Contando a frequência de um valor em uma lista
print(nomes.count('Douglas'))

# Ordenar uma lista crescente
nomes.sort()
print(nomes)
# Ordenar uma lista decrescente
nomes.sort(reverse=True)
print(nomes)

In [ ]:
# Adicionando todos os elementos de uma lista em outra usando o método extend
# Melhor para alteração no banco de dados
nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

nomes1.extend(nomes2)

print(nomes1)

In [ ]:
# Adicionando todos os elementos de uma lista em outra usando sinal de (+) (concatenando listas)
# Melhor para filtro
nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

teste = nomes1 + nomes2
print(teste)

In [ ]:
# Colocando uma lista dentro de outra
carros = ['Fusca', 'Gol']
carros2 = ['Uno', 'Punto', 'Bravo']
carros.append(carros2)
print(carros)

In [ ]:
# Acesssando uma lista da outra
fiat = carros[2]
print(fiat)

In [ ]:
# acessando um item de uma lista que está dentro de outra
ok = carros[2][0]
print(f'O melhor carro de todos os tempos é {ok}')


Função Range

In [ ]:
# Função range com um argumento cria um lista com n valores inteiros de 0 a a n-1
lista1 = list(range(5))
print(lista1)
# Função range com dois argumentos cria um lista com n valores inteiros do início informado no primeiro argumento até  ((n-1) - primeiro argumento informado) informado no segundo argumento
lista2 = list(range(1,5))
print(lista2)
# Função range com três argumentos cria um lista com definição de onde começar (primeiro argumento), onde parar (segundo argumento) e de qual tamando de intervalo entre os valores (terceiro argumento)
lista3 = list(range(1,5,2))
print(lista3)

# Estruturas de repetição (For)

In [ ]:
# Apresentando e utilizando o for de forma simples
pesos = [78, 25, 98, 63, 92, 67]
for peso in pesos:
  print(peso)

In [ ]:
# Utilizando o for com else
for i in pesos:
    print(i)
else:
    print('Todos os items foram exibidos com sucesso')

In [ ]:
notas = [5, 9, 6, 8, 7]
for i in notas:
  print(i)

# Função enumerate

In [ ]:
notas = [5, 9, 6, 8, 7]

for i, v in enumerate(notas):
  print(i,v)

In [ ]:
notas = [5, 9, 6, 8, 7] # Recebe uma lista com várias notas
# Objetivo: percorrer toda a lista de notas e para cada valor encontrado testar se o mesmo é ou não maior ou igual a 7
# Se verdadeiro imprima a mensagem aprovado e sua nota
# Se falso imprima reprovado e sua nota
for i, v in enumerate(notas): # primeira variável é o índice e a segunda variável é o valor
  if notas[i] >= 7: # se uma nota qualquer encontrada for maio ou igual a 7 faça algo
    print(f'aprovado com nota {notas[i]}') # se verdadeiro imprima aprovado e sua nota
  else:
    print(f'reprovado com nota {notas[i]}') # se não for verdadeiro imprima reprovado e sua nota
  print(notas[i])

In [ ]:
notas[0]

In [ ]:
# Utilizando o for com range
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]
alturas_quad = []
imc = []
for i in range(len(alturas)):
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')

In [ ]:
# Utilizando o for com range
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]
pesos = [78, 25, 98, 63, 92, 67]
alturas_quad = []
imc = []
for i in range(len(alturas)):
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')
print(alturas_quad)

In [ ]:
# Utilizando o for com enumerate
alturas_quad = []
imc = []
for i, v in enumerate(pesos):
  print(i)
  print(v)
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')